<div>
  <h4>Users list</h4>
  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>purpose</th>
      <th>programme</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.purpose}}</td>
      <td>{{user.programme}}</td>
      <td><button (click)="delete(user.id)">Delete</button></td>
      <td><button (click)="update(user)">Update User</button></td>
    </tr>
    </tbody>
  </table>
  <div>
    <span>
      <button (click)="addUser()">Add User</button>
    </span>
  </div>
</div>
