<div>
  <h4>Add a new User</h4>
  <form name="editForm" (ngSubmit)="save()" [formGroup]="editForm">
    <div>
      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id" formControlName="id"/>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_Name">Name</label>
        <input type="text" class="form-control" name="name" id="field_Name"
               formControlName="name"/>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_Email">Email</label>
        <input type="text" class="form-control" name="email" id="field_Email"
               formControlName="email"/>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_Purpose">Purpose</label>
        <input type="text" class="form-control" name="purpose" id="field_Purpose"
               formControlName="purpose"/>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_Programme">Programme</label>
        <input type="text" class="form-control" name="programme" id="field_Programme"
               formControlName="programme"/>
      </div>
    </div>
    <div>
      <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
        <span>Save</span>
      </button>
    </div>
  </form>
</div>
